.card{
    border-radius: 10px;
    background: green;
    overflow: hidden;
    margin:10px 0;
      img{
          width: 100%;
  
      }
      video{
          width: 100%;
          height: auto
      }
   }